h1 {
  text-align: center;
  margin-top: 50px;
}

form {
  width: 500px;
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
input[type="checkbox"] {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
